<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Catálogo</title>
</head>
<body>
    <h1>Pagina de Catálogos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae magnam officiis rerum et minus aliquam voluptate odit natus voluptas! Enim, labore ipsum? Sint possimus hic architecto laudantium, esse sequi consequuntur.</p>
</body>
</html>